@using Capstone.Web.Models

@{
    ViewBag.Title = "Weather";
}

<h2 style="text-align:center">
    Please select your park
</h2>


<table class="table">
    <th>
        Park Name
    </th>
    <th>
        Day
    </th>
    <th>
        Low
    </th>
    <th>
        High
    </th>
    <th>
        Forecast
    </th>

    </tr>
